:root {
  --black: #2F3136;
  --white: #fff;
  --red: #f42f42;
}


body {
	margin: 0px;
	font-family: "segoe print";
	color: var(--white);
	text-align: center;
	overflow-x: hidden;

	background: var(--black);
	background-image: url("Background.png");
	background-size: 100%;
}
header {
	height: 10px;
	font-size: 36px;
	font-weight: bold;
}
mark {
	padding: 2px;
	border-radius: 2px;

	font-family: "courier";
	font-size: 10px;
	font-weight: bold;
	color: var(--black);
	background: var(--red);
}
.dark {
	color: var(--red);
	background: var(--black);
}


.menubar {
	top: 50px;
    left: 50%;
	width: auto;
	display: flex;
	position: fixed;
    transform: translate(-50%, 0);
    z-index: 10;

	opacity: 0.95;
	text-align: left;
	border-radius: 8px;
	background: var(--black);
}
.menubar a {
	padding: 14px 16px;
	opacity: 1;
	font-size: 22px;
	text-decoration: none;
	color: var(--white);
	transition: color .2s;
}
.menubarsmall {
	top: 10px;
    left: 50%;
	width: auto;
	display: flex;
	position: fixed;
    transform: translate(-50%, 0);
    
	opacity: 0.95;
	text-align: left;
	border-radius: 8px;
	background: var(--black);
    z-index: 10;
}
.menubarsmall a {
	padding: 10px 11px;
	font-size: 18px;
	opacity: 1;
	text-decoration: none;
	color: var(--white);
	transition: color .2s;
}
.menubar a:visited, .menubarsmall a:visited {
	color: var(--white);
}
.menubar a:hover, .menubarsmall a:hover {
	color: var(--red);
	transition: color .6s;
}
.menubar a:active, .menubarsmall a:active {
	color: var(--red);
}
.menubar a.active, .menubarsmall a.active {
	color: var(--red);
}



.main {
	margin-top: 200px;
}


select {
	height: 20px;
	border-radius: 2px;
	border: 0px;

	font-family: "bahnschrift";
	color: var(--black);
	background: var(--white);
}
input.search {
	height: 18px;
	border-radius: 2px;
	border: 0px;

	font-family: "bahnschrift";
	color: var(--black);
	background: var(--white);
}


.body {
	padding-top: 20px;
	left: 50%;
	width: 80%;
	position: absolute;
    transform: translate(-50%, 0);

	opacity: 0.8;
	background: var(--black);
	z-index: -1;
}
.body p {
	padding: 18px;
	text-align: justify;
}
.fbot {
	font-size: 160px;
	color: var(--red);
	text-shadow: 8px 8px black;
}


.cmdtable {
	height: 50%;
	width: auto;
	
    left: 50%;
	display: flex;
	position: absolute;
	justify-content: center;
    transform: translate(-50%, 0);
	overflow-y: auto;

	text-align: left;
}
.cmdtable td {
	border-radius: 8px;
	padding: 10px;
	padding-bottom: 4px;
	background: var(--red);
}
.cmdtable a {
	font-size: 14px;
}
.cmdtable a.name {
	font-weight: bold;
	font-size: 20px;
}
table::-webkit-scrollbar {
  width: 6px;
}
table::-webkit-scrollbar-track {
  border-radius: 10px;
  background: var(--black);
}
table::-webkit-scrollbar-thumb {
  background: var(--red);
  border-radius: 10px;
}